{include file="public/head" /}

<div class="am-cf admin-main">

{include file="public/left" /}
  <!-- content start -->
  <div class="admin-content">
    <div class="admin-content-body">
      <div class="am-cf am-padding">
        <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">首页</strong> / <small>欢迎使用</small></div>
      </div>

      <ul class="am-avg-sm-2 am-avg-md-4 am-margin am-padding am-text-center admin-content-list ">
        <li><a href="#" class="am-text-success"><span class="am-icon-btn am-icon-file-text"></span><br/>本月项目<br/>{$tj.zxm}</a></li>
        <li><a href="#" class="am-text-warning"><span class="am-icon-btn am-icon-briefcase"></span><br/>本月完成<br/>{$tj.wc}</a></li>
        <li><a href="#" class="am-text-secondary"><span class="am-icon-btn am-icon-user-md"></span><br/>意向客观<br/>{$tj.yx}</a></li>
        <li><a href="#" class="am-text-danger"><span class="am-icon-btn am-icon-recycle"></span><br/>成交客户<br/>{$tj.cj}</a></li>        
      </ul>

      <div class="am-g">
        <div class="am-u-md-12">
          <div class="am-panel am-panel-default">
            <div class="am-panel-hd am-cf" data-am-collapse="{target: '#collapse-panel-3'}">最新日志<span class="am-icon-chevron-down am-fr" ></span></div>
            <div class="am-panel-bd am-collapse am-in am-cf" id="collapse-panel-3">
              <ul class="am-comments-list admin-content-comment">
                <li class="am-comment">
                  <a href="#"><img src="__PUBLIC__/i/face.png" alt="" class="am-comment-avatar" width="48" height="48"></a>
                  <div class="am-comment-main">
                    <header class="am-comment-hd">
                      <div class="am-comment-meta"><a href="#" class="am-comment-author">{$list.name}</a> 更新于 <time>{$list.time|date='Y-m-d H:i:s',###}</time></div>
                    </header>
                    <div class="am-comment-bd"><p>{$list.content}</p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>      
        </div>
      </div>
      <div class="am-g">
        <div class="am-u-sm-12">
          <table class="am-table am-table-bd am-table-striped admin-content-table">
            <tbody>
            <tr><td><a href="{:url('logs/edit','t=0')}">{$time|default=time()|date="Y",###}年工作日志</a></td><td><a href="{:url('logs/edit','t=0')}"><span class="am-icon-edit"></span>  编辑</a></td></tr>
            <tr><td><a href="{:url('logs/edit','t=1')}">{$time|default=time()|date="Y",###}年请假记录</a></td><td><a href="{:url('logs/edit','t=1')}"><span class="am-icon-edit"></span>  编辑</a></td></tr>
            <tr><td><a href="{:url('logs/edit','t=2')}">{$time|default=time()|date="Y",###}年报销记录</a></td><td><a href="{:url('logs/edit','t=2')}"><span class="am-icon-edit"></span>  编辑</a></td></tr>
            {if condition="$Think.session.user.type"}
            <tr><td><a href="{:url('logs/edit','t=3')}">{$time|default=time()|date="Y",###}年公告信息</a></td><td><a href="{:url('logs/edit','t=3')}"><span class="am-icon-edit"></span>  编辑</a></td></tr>{/if}
            </tbody>
          </table>
        </div>
      </div>
    </div>

{include file="public/foot" /}
