{include file="public/head" /}
<div class="am-cf admin-main">

{include file="public/left" /}

  <!-- content start -->
  <div class="admin-content">
    <div class="admin-content-body">
      <div class="am-cf am-padding am-padding-bottom-0">
        <div class="am-fl am-cf">
          <strong class="am-text-primary am-text-lg">日志记录</strong> /
          <small>
            {switch name="t"}
                {case value="1"}请假{/case}
                {case value="2"}报销{/case}
                {case value="3"}公告{/case}
                {default /}日志
            {/switch}管理
          </small>
        </div>
      </div>

      <hr/>

      <div class="am-g">
        <div class="am-u-sm-12 am-u-md-12">
            <div class="am-panel am-panel-secondary">
              <div class="am-panel-hd">
                <h3 class="am-panel-title">添加新记录</h3>
              </div>
              <div class="am-panel-bd">
               <table class="am-table">
                <tr>
                  <td colspan="2">
                    <textarea lay-verify="required" style="display: none;" name="content" id="content"></textarea>
                  </td>
                </tr>
                <tr>
                  <td colspan="2"><button type="button" lay-filter="add" lay-submit class="am-btn am-btn-primary">保存</button></td>
                </tr>
               </table>
              </div>
            </div>
            <div class="am-panel am-panel-secondary">
              <div class="am-panel-hd">
                <h3 class="am-panel-title">筛选记录</h3>
              </div>
              <div class="am-panel-bd">
               <table class="am-table">
                {if condition="$Think.session.user.type && $t!=3"}
                <tr><td>查看员工</td>
                <td><select name="dz" data-am-selected>
                  {volist name='u' id='v'}
                  <option value="{$v.id}" {eq name="uid" value="$v.id" }selected{/eq}>{$v.name}</option>
                  {/volist}
                </select></td></tr>{/if}
                <tr><td>记录范围</td><td>
                  <input type="text" name="time" style="width: 200px;" class="am-input-sm am-form-field" value="{$time|date='Y-m-d',###}" data-am-datepicker="{theme: 'success'}" readonly/>
                </td></td></tr>
                <tr>
                  <td colspan="2"><button type="button" lay-filter="select" lay-submit class="am-btn am-btn-primary">确认</button></td>
                </tr>
               </table>
              </div>
            </div>
            <ul class="am-comments-list am-comments-list-flip">
              {volist name="list" id="v"}
              <li class="am-comment {if condition='$v.uid!=$Think.session.user.id'}am-comment-flip{/if}">
                <a href="#link-to-user-home">
                  <img src="__PUBLIC__/i/face.png" alt="" class="am-comment-avatar" width="48" height="48"/>
                </a>

                <div class="am-comment-main">
                  <header class="am-comment-hd">
                    <div class="am-comment-meta">
                      <a href="#link-to-user" class="am-comment-author">{$v.name}</a>
                      更新于 <time datetime="{$v.time|date='Y-m-d H:i:s'}">{$v.time|date='Y-m-d H:i:s',###}</time>
                    </div>
                  </header>

                  <div class="am-comment-bd">
                    {$v.content}
                  </div>
                </div>
              </li>
              {/volist}
            </ul>
        </div>
      
      </div>
    </div>
{js href="__PUBLIC__/layui/layui.js"}
{css href="__PUBLIC__/layui/css/layui.css"}
<script type="text/javascript">
layui.use(['form','layer','layedit'], function(){
  var form = layui.form,
      layer = parent.layer === undefined ? layui.layer : top.layer,
      layedit = layui.layedit,
      $ = layui.jquery;

  layedit.set({
      uploadImage: {
          url: "{:url('index/upload')}",
          type: 'post'
      }
  });
  var index=layedit.build('content'); //建立编辑器
  //提交表单
  form.on("submit(add)",function(data){  
    //同步编辑器内容到textarea
    layedit.sync(index);
    $.post("{:url('logs/runadd')}",{
        cid: {$t},  //项目类型
        content : $("#content").val() //文章内容
    },function(res){
      if(res==1){
          layer.msg("添加成功！");
          //刷新页面
          location.reload();
      }else{
          layer.msg("更新失败！");
      }
    });
    return false;
  });
  form.on("submit(select)",function(){
    var uid=$('select[name=dz]').val(),time=$('input[name=time]').val();
    window.location.href = "{:url('logs/edit','','')}/uid/"+uid+"/time/"+time;
  })
});
</script>
{include file="public/foot" /}