{include file="public/head" /}

<div class="am-cf admin-main">

{include file="public/left" /}

  <!-- content start -->
  <div class="admin-content">
    <div class="admin-content-body">
      <div class="am-cf am-padding am-padding-bottom-0">
        <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">员工管理</strong> / <small>{$title}员工</small></div>
      </div>

      <hr>

      <div class="am-g">
      {if condition="$Think.session.uset.type"}
        <div class="am-u-sm-3 am-u-md-6">
          <div class="am-btn-toolbar">
            <div class="am-btn-group am-btn-group-xs">
              <a href="{:url('user/add')}" type="button" class="am-btn am-btn-default"><span class="am-icon-plus"></span> 新建</a>
            </div>
          </div>
        </div>
      {/if}
        <div class="am-u-sm-6 am-u-md-3">
          <div class="am-form-group">
            <select name="zt" data-am-selected="{btnSize: 'sm'}">
              <option value="0" {if condition="$zt==0"}selected{/if}>在职</option>
              <option value="1" {if condition="$zt==1"}selected{/if}>离职</option>
            </select>
          </div>
        </div>
        <div class="am-u-sm-12 am-u-md-3">
          <div class="am-input-group am-input-group-sm">
            <input type="text" class="am-form-field key">
          <span class="am-input-group-btn">
            <button class="am-btn am-btn-default search" type="button">搜索</button>
          </span>
          </div>
        </div>
      </div>

      <div class="am-g">
        <div class="am-u-sm-12">
          <form class="am-form">
            <table class="am-table am-table-striped am-table-hover table-main">
              <thead>
              <tr>
                <th class="am-hide-sm-only table-id">ID</th>
                <th class="table-title">姓名</th>
                <th class="table-type">类型</th>
                <th class="am-hide-sm-only">状态</th>
                <th class="table-set">操作</th>
              </tr>
              </thead>
              <tbody>
              {volist name='list' id='v' key='k'}
              <tr>
                <td class="am-hide-sm-only">{$k}</td>
                <td>{$v.name}</td>
                <td>{if condition="$v.type"}管理员{else /}普通员工{/if}</td>
                <td class="am-hide-sm-only">{if condition="$v.zt"}离职{else /}在职{/if}</td>
                <td>
                  <div class="am-btn-toolbar">
                    <div class="am-btn-group am-btn-group-xs">
                      <a href="{:url('user/edit',['id'=>$v.id])}" class="am-btn am-btn-default am-btn-xs am-text-secondary"><span class="am-icon-pencil-square-o"></span> 编辑</button>
                    </a>
                  </div>
                </td>
              </tr>
              {/volist} 
              </tbody>
            </table>
            <div class="am-cf">
              <div class="am-fr">
                {$list->render()}
              </div>
            </div>
          </form>
        </div>

      </div>
    </div>
<script type="text/javascript">
  $(function() {
    var $radios = $('select[name=zt]');
    $radios.on('change',function() {
      var id=$(this).val();
      window.location.href = "{:url('user/index','','')}/zt/"+id;
    });
    $('.search').click(function(){
      var key=$('.key').val();
      if(key){
        window.location.href = "{:url('user/index',['zt'=>$zt],'')}/key/"+key;
      }else{
        alert('请输入搜索关键字');
      }
    });
  });
</script>
{include file="public/foot" /}